<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO9tKp3n0BVh2m6a9pnjfb3g8aKoHVVrc</string>
	<key>GCM_SENDER_ID</key>
	<string>635023075181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.manavgarg.verumAgroTrading</string>
	<key>PROJECT_ID</key>
	<string>verum-agro</string>
	<key>STORAGE_BUCKET</key>
	<string>verum-agro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635023075181:ios:974f69c3ecb627de4c9c64</string>
</dict>
</plist>